// $color: purple;

// #main > h1 {
//     border: 4px solid $color;
//     padding: 20px;
// }

// body {
//     // background-color: 
// }

body {
    color:  #7fa99b;
    background-color: #394a51;
}

.main_content {
    background: #fbf2d5;
}

.product {
    background: c24d2c;
}

